@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.uppercase {
    text-transform: uppercase;
}

.top-yellow-shadow {
    position: absolute;
    width: 100%;
}
